.productos-ventas {
  background: linear-gradient(180deg, #f4f4f4 0%, #ffffff 70%);
  padding: 1rem;
  border-radius: 1rem;
  width: 54vw; 
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 86vh;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.ticket-ventas {
  background: linear-gradient(180deg, #f4f4f4 0%, #ffffff 70%);
  padding: 1rem;
  border-radius: 1rem;
  width: 30vw; 
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 70vh;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.ventas-container {
  display: flex;
  justify-content: space-evenly;
  
  width: 86.5vw;
}

.container-one{
    width: 52vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
}

/* Carrito */

.carrito-container {
    /* background-color: red; */
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

.carrito-titulos {
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

